<div class="flex flex-col">
    <div class="px-8">
        <button class="text-base font-bold py-2 px-5 cursor-pointer rounded-full bg-blue-x hover:bg-blue-x-2 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-blue-x" (click)="openModal()">New Tweet</button>
    </div>
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table>
                    <thead class="bg-white border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                #
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Tweet
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                User
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Username
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Date
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-gray-100 border-b" *ngFor="let tweet of tweetsObservable | async">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{tweet.id}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{tweet.text}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                <div class="flex gap-4 items-center">
                                    <img class="w-10 rounded-full" [src]="tweet.user.profileImage" [alt]="tweet.user.name">
                                    <span>{{tweet.user.name}}</span>
                                </div>                                
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{tweet.user.username}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{tweet.date | date}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                <div class="flex gap-4">
                                    <button (click)="editTweet(tweet.id)"><fa-icon [icon]="faEye" ></fa-icon></button>
                                    <button (click)="editTweet(tweet.id)"><fa-icon [icon]="faPen" ></fa-icon></button>
                                    <button (click)="deleteTweet(tweet.id)"><fa-icon [icon]="faTrash" ></fa-icon></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-modal *ngIf="isOpenModal" (onClose)="isOpenModal = false">
    <form class="flex flex-col gap-4" [formGroup]="tweetForm" (ngSubmit)="saveTweet()">
        <label for="text" class="block">
            <span class="text-black">Tweet</span>
            <input type="text" class="text-black mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="text" id="text" formControlName="text">
        </label>

        <label for="userId" class="block">
            <span class="text-black">User</span>
            <select class="text-black mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="userId" id="userId" formControlName="userId">
                <option value="">Select an option</option>
                <option *ngFor="let user of usersObservable | async" [value]="user.id">{{user.name}} . {{user.username}}</option>
            </select>
        </label>

        <button class="mt-4 text-xl font-bold py-4 px-5 cursor-pointer rounded-full bg-blue-x hover:bg-blue-x-2 w-full disabled:cursor-not-allowed disabled:opacity-40 disabled:hover:bg-blue-x" type="submit">Save tweet</button>
    </form>
</app-modal>