<nav class="mb-8">
    <ul>
        <li class="mb-2">
            <a class="font-bold text-xl py-4 px-7 inline-flex gap-4 items-center rounded-full hover:bg-white/10 font-fira-sans" routerLink="/">
                <fa-icon [icon]="faHouse"></fa-icon>
                <span class="hidden lg:inline">Home</span>
            </a>
        </li>
        <li class="mb-2">
            <a class="text-xl py-4 px-7 inline-flex gap-4 items-center rounded-full hover:bg-white/10 font-fira-sans" routerLink="/search">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                <span class="hidden lg:inline">Explore</span>
            </a>
        </li>
    </ul>
</nav>