<div class="container mx-auto">
    <div class="flex mb-16 sm:mb-0">
        <app-header class="hidden sm:block" />
        <div class="border-x border-solid border-white/30 flex-auto">
            <h1 class="px-4 py-4 text-3xl font-montserrat font-black border-b border-solid border-white/30 mb-4">Home</h1>
            <router-outlet></router-outlet>
        </div>
    </div>
    <button class="text-xl font-bold py-4 px-5 cursor-pointer rounded-full bg-blue-x hover:bg-blue-x-2 sm:hidden fixed bottom-20 right-4">
        <fa-icon [icon]="faFeather"></fa-icon>
    </button>
    <app-menu-responsive class="fixed bottom-0 left-0 right-0 sm:hidden"></app-menu-responsive>
</div>